
html {
    background-color: rgb(202, 245, 183);
    font-family: 'Garamond', serif;
    max-width: 500px;
    
}
img {
    width:  425px;
    max-height: 500px;
    height: auto;
}

h1 {
    text-align: center;
    
}

#home {
    background-color: rgb(171, 176, 236);
    color: rgb(121, 27, 3);
}

.nav {
    display: block;
    text-align: center;
    margin-right: 35px; 
}

.home-nav {
    background-color: #c7cf7c;
}

button:hover {
    background-color: rgb(99, 72, 216);
    color: beige;
}

li {
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
}